@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #ff6cab, #7366ff);
}

html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid #9e9c9c;
    border-radius: 50px;
    background: transparent;
    background: #939394;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
    background-color: rgba(0, 0, 0, .3);
}


.name {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 800;
    cursor: pointer;
}

.navbar-links a {
    margin: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 3.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s;
}

.navbar-links a:hover {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 3.5rem;
    text-decoration: none;
    color: #000000;
    text-shadow: 0px 0px 20px rgb(255, 255, 255, 0.9);
}



/* SECTION START FROM HERE */
.projects{
    flex: auto;
    display: flex;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.sec_projects {
    width: 75%;
}


.prj_head {
    border-radius: 50px;
    background: #000;
    color: #fff;
    width: 40%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0;
}



h2 {
    font-size: 45px;
    font-weight: 800;
    color: #000;
    padding: 50px;
}


.prj_box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.project_box {
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
    /* align-items: center; */
    width: 40%;
    border: 2px solid #fff;
    border-radius: 25px;
    background-image: linear-gradient(75deg, #fff 30%, transparent 0%);
}



.prj_name {
    margin: 0;
    padding: 0;
    width: 28%;
    align-self: center;
}

.prj_bio {
    margin: 0  10px 0 25px;
    padding: 0;
    width: 70%;

}

.prj_info {
    width: 100%;
    padding: 0;
    text-align: left;
}

.prj_link {
    float: right;
    padding: 5px;
    text-align: right;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color: #000;
    font-weight: 900;
}

.para {
    height: 72px;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}





/* FOOTER START FROM HERE */

.footer{
    padding: 15px;
    text-align: center;
}

.footer-text p {
    font-size: 1rem;
    color: #000;
    font-weight: 400;
}

